:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --black-color: #000;
  --border-color: #eee;
  --active-button-color: #188ce8;
  --top-line-color: #ececec;
  --bg-hero-color: #c4c4c4;
  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --gallery-set-gap: 30px;
  --box-shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --button-shadow-color: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ----------------------------Header----------------------------- */

.header-general {
  border-bottom: 1px solid var(--top-line-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-studio {
  color: var(--black-color);
}

.footer-studio {
  color: var(--white-color);
}

.header-list {
  display: flex;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-link.current::after {
  content: "";

  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  display: flex;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.mail,
.tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.header-general .mail,
.header-general .tel {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-text-color);
}

.mail-icon-item {
  margin-right: 10px;
}

.tel-icon-item {
  margin-right: 10px;
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* ----------------------------Hero----------------------------- */

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  background-color: var(--bg-hero-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  max-width: 696px;
  margin: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  padding: 10px 32px;
  min-width: 216px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----------------------------Advantages----------------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  width: calc((100% - 90px) / 4);
  margin-right: var(--gallery-set-gap);
}

.advantages-item:last-child {
  margin-right: 0;
}

.advantages-icon-bg {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg-color);
  margin-bottom: var(--gallery-set-gap);
}

.advantages-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages-item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------------------------About----------------------------- */

.about {
  padding-top: 0;
}

.about-list {
  display: flex;
}

.about-item {
  width: calc((100% - 60px) / 3);
  margin-right: var(--gallery-set-gap);
}

.about-item:last-child {
  margin-right: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.about-img {
  display: block;
  max-width: 100%;

  width: 370px;
  height: 294px;
}

.about-tumb {
  position: relative;
}

.about-top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 27px 24px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  min-height: 70px;
  width: 100%;
}

/* ----------------------------Team----------------------------- */

.team {
  background-color: var(--secondary-bg-color);
}

.team-employees {
  display: flex;
  justify-content: space-between;
}

.team-employee {
  box-shadow: var(--box-shadow-color);
  border-radius: 0px 0px 4px 4px;
}
.employee-photo {
  display: block;
  max-width: 100%;

  width: 270px;
  height: 260px;
}

.employee-text-box {
  padding: 30px 32px;
  background-color: var(--white-color);
}

.employee-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.employee-position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-links {
  display: flex;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

.icon-bg {
  background-color: var(--white-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------------------Clients----------------------------- */

.client-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.client-links {
  display: flex;
}

.client-links-item:not(:last-child) {
  margin-right: var(--gallery-set-gap);
}

.client-icon-bg {
  border: 1px solid var(--icon-color);
  width: 170px;
  height: 92px;
  border-radius: 4px;
  fill: var(--icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon-bg:hover,
.client-icon-bg:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* ----------------------------Footer----------------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
  background-color: var(--primary-bg-color);
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.address-box {
  margin-right: 94px;
}

.footer .logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map:hover,
.map:focus {
  color: var(--accent-color);
}

.address .mail,
.address .tel {
  padding-top: 0;
  padding-bottom: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  margin-right: 93px;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer .icon-bg {
  fill: var(--white-color);
  background-color: var(--icon-bg-color);
}

.icon-bg:hover,
.icon-bg:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.newsletter-form {
  display: flex;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.newsletter-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  outline: transparent;
}

.newsletter-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-input:focus {
  border: 1px solid #2196f3;
}

.newsletter-button {
  padding: 10px 28px;
  min-width: 200px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: var(--active-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----------------------------Portfolio----------------------------- */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  min-width: 73px;
  align-items: center;
  text-align: center;
  cursor: pointer;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: var(--button-shadow-color);
}

.gallery {
  display: flex;
  margin-left: calc(-1 * var(--gallery-set-gap));
  margin-top: calc(-1 * var(--gallery-set-gap));
  flex-wrap: wrap;
}

.gallery-item {
  flex-basis: calc(100% / 3 - var(--gallery-set-gap));
  margin-left: var(--gallery-set-gap);
  margin-top: var(--gallery-set-gap);
}

.gallery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: var(--box-shadow-hover);
}

.gallery-link:hover .gallery-top-text {
  transform: translateY(0);
}

.gallery-img-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-top-text {
  position: absolute;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-text-box {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.gallery-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.gallery-scope {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* -------------------------------------------Modal----------------------------------------------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-field {
  margin-bottom: 10px;
}

.form-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  display: block;
}

.input-wrap {
  position: relative;
  fill: var(--title-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding-left: 42px;
  padding-right: 12px;
  outline: transparent;
}

.modal-input:focus {
  border-color: #2196f3;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus + .form-icon {
  fill: #2196f3;
}

.form-comment {
  margin-bottom: 20px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: transparent;
  resize: none;
}

.modal-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-comment:focus {
  border: 1px solid #2196f3;
}

.form-policy {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.checkbox {
  margin-right: 7px;
}

.lable-policy {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-check {
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  fill: transparent;
}

.checkbox:checked + .lable-policy span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--white-color);
}

.checkbox:focus + .lable-policy span {
  border-color: var(--accent-color);
}

.policy-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 5px;
  position: relative;
}

.policy-link::after {
  content: "";

  position: absolute;
  bottom: 6px;

  display: block;
  width: 100%;
  height: 1px;
  background: var(--accent-color);
  border-radius: 2px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--active-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
