.advantages-list {
  display: flex;
}

.advantages-item {
  width: calc((100% - 90px) / 4);
  margin-right: var(--gallery-set-gap);
  &:last-child {
    margin-right: 0;
  }
}

.advantages-icon-bg {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg-color);
  margin-bottom: var(--gallery-set-gap);
}

.advantages-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages-item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
